@use './vars' as vars;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    width: 100vw;
    height: 100vh;
    font-family: "Roag-Light";
}
.container {
    padding-top: 50px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: vars.$desktopWidthScreen){
        max-width: vars.$containerWidth;
    }
}
.headerContainer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: vars.$containerWidth;
    margin-bottom: 30px;
    @media screen and (min-width: vars.$desktopWidthScreen){
        width: vars.$mainWidth;
    }
    &__logo{
        background-image: url('./img/ifab.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 100px;
        height: 20px;
        @media screen and (min-width: vars.$desktopWidthScreen){
            height: 40px;
            height: 26px;
        }
    }
    &__title{
        font-family: "Roag-Light";
        color: #2a333f;
        letter-spacing: 2px;
        font-size: 20px;
        @media screen and (min-width: vars.$desktopWidthScreen){
            font-size: 32px;
            letter-spacing: 10px;
        }
    }
}
.resultsBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__score{
        margin-bottom: 15px;
        // width: vars.$mainWidth;
        font-size: 18px;
    }
}
.formBlock {
    width: vars.$containerWidth;
    margin-bottom: 30px;
    @media screen and (min-width: vars.$desktopWidthScreen){
        width: vars.$mainWidth;
    }
}
.questionsBlock {
    margin-bottom: 20px;
    &__title{
        font-size: 26px;
        background-color: vars.$emphasizeColor;
    }

}
.info{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: vars.$containerWidth;
    &__mainText{
        font-size: 20px;
        margin-bottom: 15px;
    }
    @media screen and (min-width: vars.$desktopWidthScreen){
        width: 100%;
    }
}


.questionsBlock__container {
    margin-bottom: 30px;
}
.questionsBlock__text {
    padding: 15px 0 15px;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    @media screen and (min-width: vars.$desktopWidthScreen){
        padding: 20px 0 20px;
    }
}
.questionsBlock__module {
    margin-bottom: 20px;
}
.questionsBlock__question {
    font-size: 18px;
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
    line-height: 1.1;
}
label{
    cursor: pointer;
}
input[type="radio"] {
    accent-color: vars.$mainColorSecond;
}
// .checkedAnswer{
//     background-color: vars.$questionColor;
// }
.wrongAnswer{
    background-color: #ff5a5a;
}
.correctAnswer{
    background-color: #4bcd4b;
}

.button {
    width: 180px;
    font-size: 18px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
    background-color: vars.$mainColorSecond;
    color: white;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    @media screen and (min-width: vars.$desktopWidthScreen){
        font-size: 16px;
    }
}


.hideElement{
    display: none;
}
.showElement{
    display:block;
}
.showElementFlex{
    display:flex;
}